{% extends '::base.html.twig' %}

{% block content %}

    <h2 class="p3">
        System error
    </h2>

    <p>Oops! Unfortunately a system error has occured. Please try again a bit later.</p>

{% endblock %}