{% extends '::base.html.twig' %}

{% block content %}

    <h2 class="p3">
        Page not found
    </h2>

    <p>The page you requested does not exist. Please check the address.</p>

{% endblock %}