.DS_Store
.idea

composer.phar
composer.bat
vendor/*

nbproject/
src/.DS_Store
src/Portal/.DS_Store
src/Portal/AppBundle/.DS_Store
src/Portal/AppBundle/Resources/.DS_Store
web/.DS_Store
web/js
web/bundles/
app/cache/*
app/bootstrap.php.cache
app/SymfonyRequirements.php
app/logs/*
app/config/parameters.yml
/bin
web/stylesheets/app_app_1.css