{% extends '::base.html.twig' %}

{% block content %}
    <h2 class="p3">
        <span class="color-1">User</span> not found
    </h2>

    <p>
        We are sorry, but the user you are trying to view does not exist.
    </p>
{% endblock content %}
