{% extends '::base.html.twig' %}

{% block content %}
    <h2 class="p3">
        <span class="color-1">User</span> not found
    </h2>

    <p>
        We are sorry, but the user you are trying to send a high five to does not exist.
    </p>
{% endblock content %}

{% block sidenav %}
    <h2 class="p3"><span class="color-1">What</span> now?</h2>
    If you believe this is not an error, give us a feedback through the contact form and we will take a closer look.
{% endblock sidenav %}