{% extends '::base.html.twig' %}

{% block content %}
    <h2 class="p3">
        <span class="color-1">Register</span> an account
    </h2>

    {% block fos_user_content %}
        <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
    {% endblock fos_user_content %}
{% endblock content %}