<form id="form" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}
    <div class="btns">
        <input class="button" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}">
    </div>
</form>
