/* Info wall related message elements */

.info p { 
    margin: 0px; 
}

.info p#author { 
    font-weight: bold; 
}

.info p#date {
    color: #666666;
    margin-top: 5px;
    margin-bottom: 5px;
}

.item-summary .overview {
    margin-right: 1em;
    margin-bottom: 0.25em;
    float: left;
    width: 100px;
}

.latest-users-gravatar {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.postData {
    padding-bottom: 10px;
}

.postContent {
}

/* Login/Logout/Register related stuff */

#login-errors {
    margin-bottom: 10px;
    color: #AA0000;
}

ul.links {
    margin-top: 20px;
}

ul.links, li {
    list-style-type: none;
}

.links li {
    padding-left: 0px; text-indent: -2em;
}

.dialog input[type="checkbox"] {
    float: left;
    margin-right: 5px !important;
    position: relative;
    top: 3px;
}
.login-submit {
    margin-top: 5px;
}

/* Group listing related */

.group-title {
    font-size: 1.2em;
}

.group-description {
    font-style: italic;
}

.group-open {
     margin-top: 5px;
 }

.group-follow {
    margin-top: 5px;
}

.new-post {
    width: 97%;
}

/* Latest Groups info box related */

.cards li.latestGroupItem {
    padding: 0px;
    margin: 0px;
    padding-left: 1em;
}

.cards li.latestGroupItem h5 {
    padding: 0px;
    padding-top: 7px;
    margin: 0px;
}

/* Common */
.strong {
    font-weight: bold;
}
