{% extends '::base.html.twig' %}

{% block content %}
    <h2 class="p8">
        <span class="color-1">About</span> YouHighFiveMe
    </h2>

    <article>
        <p>
            <pre>
Noun
1. high-five, gesture, motion
usage: a gesture of greeting or elation; one person's upraised palm
slaps the upraised palm of another person
            </pre>
        </p>
        <p class="p5">
            Most of us deal with extra-curriculum activities such as charity or community work or just want to contribute in a way or another
            in different areas of life. Some of us travel around the world having conference talks, some of us make presentations and
            tutorial events at work. Some of us develop open source applications to make a better world. Wouldn't it be nice to get credit
            for all the hard work you do?
        </p>
        <p class="p5">
            There are many different social media applications that lets other people endorse your skills, but very few deal with things
            mentioned above and with crediting users for the things they do. YouHighFiveMe is exactly the application that fills this gap.
        </p>
        <p class="p5">
            With YouHighFiveMe, you are able to create events into the database and promote it with a unique address. Spread it around to
            your friends, co-workers and anyone you can think of, because these are the people who will build up your activity collection
            by sending you high fives with comments. The more high fives you receive, the more impressive your activity page will look like.
        </p>
        <p class="p5">
            We would like to encourage you to take pride for the work you do. Go ahead and start building an impressive activity page as it
            is a perfect way to spice up your personal Curriculum Vitae, LinkedIn or Facebook profile with.
        </p>
    </article>
{% endblock content %}

{% block sidenav %}
    <h2 class="p3"><span class="color-1">Want to</span> contribute?</h2>

    <p class="p5">
        Have great ideas for this site? Would like to pitch in and do your share of
        work to make YouHighFiveMe even better? If so, why don't you join us
        and contribute to the project?
    </p>
    <p class="p5">
        YouHighFiveMe is an open source project hosted on Github. You are free to
        fork this project and send us a pull request. We'd like to hear from you, so
        stop by our IRC channel #youhighfive.me on freenode.net server and say hello.
    </p>
    <ul class="list-1">
        <li><a href="https://github.com/YouHighFiveMe/youhighfiveme">Fork me on Github</a></li>
    </ul>
{% endblock sidenav %}
