{% extends 'CobaseAppBundle::layout.html.twig' %}

{% block content %}
    <h2>Your wall
        <span class="info">Overview of latest activity in groups you have subcribed to.</span>
    </h2>
    <ul class="item-summary">
        <li>
            <div class="overview">
                <img src="{{ gravatar("info@arturgajewski.com") }}"/>
            </div>
            <div class="info">
                <p id="author">Artur Gajewski</p>
                <p>Trust fund photo letterpress, keytar raw skydiving denim grape keffiyeh etsy art base apple party ball before they.</p>
                <p id="date">January 10th, 2013 at 7:30am</p>
            </div>
            <div class="clearfix"></div>
        </li>

        <li>
            <div class="overview">
                
                <p class="main-detail">Jan 24th</p>
                <p class="sub-detail">3:34 PM</p>
                <span class="label label-success">Active</span>
            </div>
            <div class="info">
                <p>Trust fund photo letterpress, keytar raw skydiving denim grape keffiyeh etsy art base apple party ball before they.</p>
                <a class="btn btn-mini" href="#">Show Details</a>
            </div>
            <div class="clearfix"></div>
        </li>

        <li>
            <div class="overview">
                <p class="main-detail">May 9th</p>
                <p class="sub-detail">6:42 PM</p>
                <span class="label label-success">Active</span>
            </div>
            <div class="info">
                <p>Trust fund photo letterpress, keytar raw skydiving denim grape keffiyeh etsy art base apple party ball before they.</p>
                <a class="btn btn-mini" href="#">Show Details</a>
            </div>
            <div class="clearfix"></div>
        </li>

        <li>
            <div class="overview">
                <p class="main-detail">June 3rd</p>
                <p class="sub-detail">8:18 PM</p>
                <span class="label label-success">Active</span>
            </div>
            <div class="info">
                <p>Trust fund photo letterpress, keytar raw skydiving denim grape keffiyeh etsy art base apple party ball before they.</p>
                <a class="btn btn-mini" href="#">Show Details</a>
            </div>
            <div class="clearfix"></div>
        </li>

    </ul>
{% endblock content %}

