{% extends 'CobaseAppBundle::layout.html.twig' %}

{% block content %}
    <h2>Pending Deals
        <span class="info">You have 15 deals that will be closing soon.</span>
    </h2>
    <ul class="item-summary">
        <li>
            <div class="overview">
                <p class="main-detail">April 14th</p>
                <p class="sub-detail">6:9 PM</p>
                <span class="label label-success">Active</span> <span class="label label-info">New</span>
            </div>
            <div class="info">
                <p>Trust fund photo letterpress, keytar raw skydiving denim grape keffiyeh etsy art base apple party ball before they.</p>
                <a class="btn btn-mini" href="#">Show Details</a>
            </div>
            <div class="clearfix"></div>
        </li>

        <li>
            <div class="overview">
                <p class="main-detail">Jan 24th</p>
                <p class="sub-detail">3:34 PM</p>
                <span class="label label-success">Active</span>
            </div>
            <div class="info">
                <p>Trust fund photo letterpress, keytar raw skydiving denim grape keffiyeh etsy art base apple party ball before they.</p>
                <a class="btn btn-mini" href="#">Show Details</a>
            </div>
            <div class="clearfix"></div>
        </li>

        <li>
            <div class="overview">
                <p class="main-detail">May 9th</p>
                <p class="sub-detail">6:42 PM</p>
                <span class="label label-success">Active</span>
            </div>
            <div class="info">
                <p>Trust fund photo letterpress, keytar raw skydiving denim grape keffiyeh etsy art base apple party ball before they.</p>
                <a class="btn btn-mini" href="#">Show Details</a>
            </div>
            <div class="clearfix"></div>
        </li>

        <li>
            <div class="overview">
                <p class="main-detail">June 3rd</p>
                <p class="sub-detail">8:18 PM</p>
                <span class="label label-success">Active</span>
            </div>
            <div class="info">
                <p>Trust fund photo letterpress, keytar raw skydiving denim grape keffiyeh etsy art base apple party ball before they.</p>
                <a class="btn btn-mini" href="#">Show Details</a>
            </div>
            <div class="clearfix"></div>
        </li>

    </ul>
{% endblock content %}

