{% extends 'CobaseAppBundle::layout.html.twig' %}

{% block content %}
    <h2>Home
        <span class="info">Overview of latest activity in groups you have subcribed to.</span>
    </h2>

    {% for flashMessage in app.session.flashbag.get('subscription.transaction') %}
        <div class="alert alert-success fade in">
            {{ flashMessage }}
        </div>
    {% endfor %}
    
    <ul class="item-summary">
        
        <li>
            <div class="overview">
                <img src="{{ gravatar("info@arturgajewski.com") }}"/>
            </div>
            <div class="info">
                <p id="author">Artur Gajewski</p>
                <p>This is a dummy data not from database, implement list of latest posts from groups that logged in user belongs to.</p>
                <p id="date">January 10th, 2013 at 7:30am</p>
                <p><span class="label label-info">New post</span></p>
            </div>
            <div class="clearfix"></div>
        </li>

        <li>
            <div class="overview">
                <img src="{{ gravatar("info@arturgajewski.com") }}"/>
            </div>
            <div class="info">
                <p id="author">Artur Gajewski</p>
                <p>This is a dummy data not from database, implement list of latest posts from groups that logged in user belongs to.</p>
                <p id="date">January 10th, 2013 at 7:30am</p>
            </div>
            <div class="clearfix"></div>
        </li>

        <li>
            <div class="overview">
                <img src="{{ gravatar("info@arturgajewski.com") }}"/>
            </div>
            <div class="info">
                <p id="author">Artur Gajewski</p>
                <p>This is a dummy data not from database, implement list of latest posts from that logged in user belongs to.</p>
                <p id="date">January 10th, 2013 at 7:30am</p>
            </div>
            <div class="clearfix"></div>
        </li>

    </ul>
{% endblock content %}

