{% extends '::base.html.twig' %}

{% block content %}
    <h2 class="p3">
        <span class="color-1">Congratulations!</span>
    </h2>

    <p class="p4">
        You now have created a new event. Since you marked it as unlisted, it means that this event will not
        show up on any public listings.
    </p>

    <p class="p8">
        However, you can promote the URL to this event by sending out below address to your friends. Only those
        who know this address can access your event.
    </p>

    <p class="p4">
        <a class="event-url" href="{{ eventUrl }}">{{ eventUrl }}</a>
    </p>
{% endblock content %}

{% block sidenav %}
    <h2 class="p3"><span class="color-1">Right</span> column</h2>
    <ul class="list-1">
        <li><a href="#">Link to something</a></li>
        <li><a href="#">Link to something</a></li>
    </ul>
    <div class="form-search">
        <h2><span class="color-1 editable">Some </span>text</h2>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
    </div>
{% endblock sidenav %}