{% extends '::base.html.twig' %}

{% block content %}
    <h2 class="p3">
        <span class="color-1">Your</span> profile
    </h2>
    {% include "CobaseUserBundle:Profile:show_content.html.twig" %}

    <br/>

    <h2 class="p3"><span class="color-1">Your</span> gravatar</h2>
    {% if user.avatar %}
        <img src="{{ path('CobaseAppBundle_avatar', {'avatarFile': user.avatar}) }}"/>
    {% else %}
        <img src="{{ gravatar(user.gravatar|default(user.email)) }}"/>
    {% endif %}

{% endblock content %}
