<div class="likes">

</div>
<i class="icon-thumbs-up"></i><i class="icon-thumbs-down"></i>
{% if user.likesPost(post) %}
    <a class="like-link postOptionLink" data-liked="true" data-postid="{{ post.id }}" href="">{{ 'Unlike'|trans }}</a>
{% else %}
    <a class="like-link postOptionLink" data-liked="false" data-postId="{{ post.id }}" href="">{{ 'Like'|trans }}</a>
{%  endif %}
