
{% if user.likesPost(post) %}
    <a class="like-link" data-postid="{{ post.id }}" href="">{{ 'Unlike'|trans }}</a>
{% else %}
    <a class="like-link" data-postId="{{ post.id }}" href="">{{ 'Like'|trans }}</a>
{%  endif %}
